.boss > p {
    font-size: 13px;
  }

.order-number {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
    background-color: #A6BB78;
}

@media screen and (min-width: 768px) {
    .order-number {
        right: 12.75%;
        width: 15%;
    }
}

@media screen and (min-width: 992px) {
    .order-number {
        right: 23%;
        width: 10%;
    }
}

@media screen and (min-width: 1200px) {
    .order-number {
        right: 27.5%;
    }
}